<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ndhuproject.unitutor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationLogin.UserLogin"></activity>
        <activity android:name=".RegistrationLogin.UserRegistration"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".QueryResultsActivity"></activity>
        <activity android:name=".TutorRegistrationActivity"></activity>
        <activity android:name=".PlacesDetailsActivity"></activity>
        <activity android:name=".FeedbackActivity"></activity>
    </application>

</manifest>